@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800;900&display=swap');

:root{
  --tayaqan-main:#8E83A9;
  --tayaqan-dark:#70658f;
  --tayaqan-soft:#e2dcd4;
  --tayaqan-text:#2D2D2D;
  --tayaqan-accent:#A695F7;

  --container: 1120px;
}

.app-body{
  font-family: "Tajawal", sans-serif;
}

/* اختياري لكن يفضل */
body{
  margin: 0;
  font-family: "Tajawal", sans-serif;
  color: var(--tayaqan-text);
}

/* تثبيت الخط على عناصر الفورم تحديدًا */
button,
input,
textarea,
select{
  font-family: "Tajawal", sans-serif;
}

/* خارج :root */
.nav-logo{
  height: 60px;   /* كبّري هنا */
  width: auto;
  display: block;
}
@media (max-width: 767px){
  .nav-logo{ height: 45px; }
}
